@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    border: 1px solid silver;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.23s ease-in-out;
    max-width: 320px;
}

.card .card-body {
    padding: 16px;
    height: 320px;
}

.card img {
    object-fit: cover;
    object-position: center;
    height: 230px;
    width: 100%;
}

.card h2 {
    font-size: 22px;
    font-weight: 700;
}

.card li {
    margin: 12px 0;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transform: scale(1.001);
}

.card .btn-wrappeer {
    height: 120px;
    align-items: center;
}


/* Loader start */

.loader {
    width: 48px;
    height: 48px;
    border-width: 3px;
    border-style: dashed solid solid dotted;
    border-color: #FF3D00 #FF3D00 transparent #FF3D00;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 120px auto;
    position: relative;
    left: 550px;
    top: 200px;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 31px;
    border: 10px solid transparent;
    border-right-color: #FF3D00;
    transform: rotate(-40deg);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader end */


.not-found {
    position: relative;
    left: 550px;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dark-mode {
    background: rgb(3, 4, 13) !important;
    color: #fff !important;
}

/* Toaster*/

.toast {
    position: fixed;
    z-index: 9999999;
    width: 300px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    right: 10px;
    top: 70px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.toast .bi {
    font-size: 24px;
}

.show {
    transform: translateX(0);
    animation-name: animeToast;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;
    color: #fff;
    background-color: limegreen;
}

.show-error {
    transform: translateX(0);
    animation-name: animeToastError;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;
    color: #fff;
    background-color: rgb(230, 33, 73);
}

.hide {
    transform: translateX(400%);
}

.toast:hover {
    background: rgb(3, 4, 13) !important;
    color: #fff !important;
}

@keyframes animeToast {
    0% {
        transform: translateX(100%);
        background: rgb(6, 36, 0);
        background: Linear-gradient(14deg, rgba(6, 36, 0, 1) 0%, rgba (9, 121, 23, 1) 41%, rgba(0, 255, 61, 1) 100%);
    }

    100% {
        transform: translateX(0%);
        background: rgb(6, 36, 0);
        background: Linear-gradient(354deg, rgba(6, 36, 0, 1) 0%, rgba(9, 121, 49, 1) 41%, rgba(0, 255, 61, 1) 100%);
    }

}

@keyframes animeToastError {
    0% {
        transform: translateX(100%);
        background: rgb(6, 36, 0);
        background: Linear-gradient(14deg, rgba(6, 36, 0, 1) 0%, rgb(121, 9, 106) 41%, rgb(255, 0, 0) 100%);
    }

    100% {
        transform: translateX(0%);
        background: rgb(6, 36, 0);
        background: Linear-gradient(354deg, rgba(6, 36, 0, 1) 0%, rgb(121, 9, 106) 41%, rgb(255, 0, 0) 100%);
    }

}